<Layouts.app flash={@flash}>
  <Maui.Flash.flash_group flash={@flash} />
  <div>
    hello world
    <div class="hello">
      test
    </div>
    <Maui.Button.button href="/toast">
      Back Toast Demo
    </Maui.Button.button>
  </div>
</Layouts.app>
